<header class="header">
    <div>
      <a href="/" class="logo">E-Shop Logo</a>
      <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Cart</a></li>
            <li><a href="/">Login</a></li>
            <li><a href="/">SignUp</a></li>
        </ul>
      </nav>
    </div>
    <!-- <div class="products-list">
      <ul>
        <li *ngFor="let product of products">
          {{ products.title }} - {{ products.price }}
        </li>
      </ul>
    </div> -->
  </header>

