.login-container {
    max-width: 300px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 270px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    margin-right: 20px;
  }
  
  button[type="submit"] {
    width: 50%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }

  .form-action {
    display: flex;
    justify-content: center;
  }

  .text-danger {
    color: red;
  }

  .input-group {
    position: relative;
  }
  
  .eye-icon {
    position: absolute;
    right: 10;
    top: 50%;
    transform: translate(-50%);
    padding: 10px;
    cursor: pointer;
  }
  
  .fa-eye {
    font-size: 18px;
    color: #666;
  }
  
  .fa-eye:hover {
    color: #333;
  }

  .control-error {
    height: 1.5rem;
    margin-bottom: 2.5rem;
    color: crimson;
  }

  .control-error p {
    margin-bottom: 0;
  }
  
  .password-container {
    position: relative;
  }
  