.products {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
  }

  .container {
    padding: 20px;
  }

  .images {
    height: 150px;
    width: 150px;
  }

  p {
    padding-left: 40px;
  }
